<p>Date: {{ conversion_record.date }}</p>
{% if conversion_record.currency == 'GBP'%}
    <h1 style="font-size: medium;">Conversion Result | Pound (£) to Naira (N)</h1>
    <b>GBP 1 = NGN 1241.00</b>
    <h1>GBP {{ conversion_record.amount }} | NGN {{ convert|floatformat:2 }}</h1>
    
{% else %}
    <h1 style="font-size: medium;">Conversion Result | Naira (N) to Pound (£)</h1>
    <b>GBP 1 = NGN 1299.99</b>
    <h1>NGN {{ conversion_record.amount }} | GBP {{ convert|floatformat:2 }}</h1>
    
{% endif %}