
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BMI_xchange{% endblock %}</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: left;
        }

        h1 {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    {%block content%}
        replace me
    {%endblock%}

</body>
</html>
